@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(203,201,242);
  background: linear-gradient(90deg, rgba(203,201,242,1) 0%, rgba(178,249,189,0.5086367310596114) 46%, rgba(0,212,255,1) 100%);
}